$color-primary: #fe016c;
$color-secondary: #9ea0a1;
$color-tertiary: #2e3646;

$color-primary-dark: #ffbd07;
$color-secondary-dark: #9ea0a1;
$color-tertiary-dark: #b9b9bb;

// COLORS ARE NOT DEFINITIF, JUST FOR TESTING

// Background colors
$background-white: #fcfcfc;
$background-dark: #060608;

// Text colors
$text-white: #fcfcfc;
$text-dark: #060608;

$is-link: #fe016c;
$is-danger: #ffbd07;
$is-success: #9ea0a1;

$white: #fcfcfc;
$gray: #9ea0a1;
